{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "extends": ["plugin:jest/recommended", "plugin:jest/style"]
    }
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "no-new": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off"
  }
}