<form autocomplete="off" class="form-combat-numbers">
    <div class="tab active" data-tab="general">
        <div class="cn-settings-container">
            <h2>{{localize "COMBATNUMBERS.SETTINGS.titleAppearance"}}</h2>

            <div class="form-group">
                <label>{{localize "COMBATNUMBERS.SETTINGS.labelFont"}}</label>
                <select name="font">
                    {{#select font}}
                    {{#each fontList as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="form-group buttons-save">
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-sync"></i> {{localize "SETTINGS.Reset"}}
            </button>
        </div>

    </div>
</form>
